<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>topics</title>
</head>
<body>
    <form action="{{ url_for('.add') }}", method="post">
        <input type="text" name="title" placeholder="输入 title">
        <div>
            <textarea name="content" cols="30" rows="10"></textarea>
        </div>
        <button>Add</button>
    </form>
{% for t in topic_list %}
    <div>
        {{ t.title }}
        <br>
        {{ t.content }}
        <a href="{{ url_for('.edit', id=t.id) }}">修改</a>
        <a href="{{ url_for('.delete', id=t.id) }}">删除</a>
    </div>
{% endfor %}
</body>
</html>